:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-yellow: #ffd52c; /*pink*/
  --color-dark-yellow: #ffcc00b0; /*dark pink*/
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1; /*yellow*/
  --color-orange: #ff9500; /*orange*/
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --Size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  /* 폰트적용 */
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  cursor: defalut;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 6px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-yellow);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin-left: 16px;
}

.navbar__logo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--Size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-yellow);
}

.navbar__toggle-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}


/* Home */
#home {
  background: url("/imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--Size-border-radius);
}

/*Section common*/
.section {
  padding: 50px;
  text-align: center;
  /* margin 분배 */
  margin: auto;
}

.section__container {
    /* 최대넓이 지정 */
    max-width: 1200px;
    margin: auto;
}


/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 64px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.major__icon i {
  transition: all var(--animation-duration);
}

.major__icon:hover i {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.1);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 50px;
  height: 50px;
}

.job__description {
  margin: 4px 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-style: var(--font-micro);
}


/* Skills */
#skill {
  background-color: var(--color-light-yellow);
}

.skillset {
  display: flex; 
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skilset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px; /*32px*/
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  /* width : 개별적으로 다른 값은 html에서 정의하고 json 관리 */
  width: 50%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}


/* Work */
.work__categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--Size-border-radius);
  font-size: var(--font-regular);
  margin: 2px 1px; /* margin-bottom: 4px; */
  padding: 8px 24px 8px 54px ; /* padding: 8px 48px; */
  transition: all var(--animation-duration) ease-in;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-yellow);
  color: var(--color-white);
  padding: 8px 48px;
}

.category__count{
  display: inline-block;
  position: relative;
  top: -20px;
  /* left: 4px;  */
  left: -8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-small);
  line-height: 24px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
  left: 4px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  transform: translateX(-50%);
  /* margin-left: -12px; */
  margin-top: 8px;
  background-color: var(--color-dark-white);
}


/*  Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonials__avatar {
  width:  150px;
  height: 150px;
  border-radius: 50%;
}

.testimonials__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonials__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--Size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-yellow);
}


/* Contact */
#contact {
  background-color: var(--color-yellow);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.2);
}

/* Arrow */
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 28px;
  line-height: 64px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-yellow);
  border: 1px solid var(--color-light-yellow);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in-out;
}

.arrow-up.arrow--visible {
  opacity: 1;
  pointer-events: auto;
}

.arrow-up:hover {
  transform: scale(1.1);
}


/* For below 768px screen width */
@media screen and (max-width: 786px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    /* align-self: center; */
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .work__categories {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonials__avatar {
    width: 80px;
    height: 80px;
  }
}